
*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F9F6EE;
}

.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}
.img-responsive{
    width: 25%;
    height: 25%;
}
.img-curve{
    border-radius: 15px;
}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-white{
    color: black;
}
.text-blue{
    color: powderblue;
    font-family: Arial;

}

.clearfix{
    clear: both;
    float: none;
}

a{
    color: #ff6b81;
    text-decoration: none;
}
a:hover{
    color: #ff4757;
}

.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
.btn-primary{
    background-color: #56aeff;
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    color: white;
    background-color: #0eb15e;
}
h2{
    color: #2f3542;
    font-size: 2rem;
    margin-bottom: 2%;
}
h3{
    font-size: 1.5rem;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 50px;
    left: 40%;
}
fieldset{
    border: none;
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}


/* CSSS for navbar section */

.logo{
    width: 15px;
    height: 10px;
    float: left;
}



/* for Form Section */
.back-ground{
    background-color: #Fff;
}
.vaccine{
    width: 70%;
    margin: 0 auto;
}
.input-responsive{
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: 1% grey;
    border-radius: 5px;
    font-size: 1rem;
}
.vaccine-label{
    margin-bottom: 1%; 
    font-weight: bold;
}
{
    padding: 1%;
    margin: 0px auto;
    border: 1% black;
    width: 30%;
}
.cats{
    padding: 1px;
    border-radius: 45px;
    display: inline;
    width: 100px;
    height: 50px;
    border: 100px;
}
.input-dropdown{
    display: inline-flex;
    width: 30%;
    padding: 1%;
    margin-bottom: 3%;
    border: 1% grey;
    border-radius: 5px;
    font-size: 1rem;
}
select{
    display: inline-flex;
    width: 30%;
    padding: 1%;
    margin-bottom: 3%;
    border: 5% black;
    border-radius: 5px;
    font-size: 1rem;
}

span::after{
    padding-left: 5px;
}
input:invalid + span::after{
    content: '✖';
}
input:valid+span::after{
    content: '✓';
}

/*messages*/
.success{
    text-align: center;
    color: #32ba31;
}
.error{
    text-align: center;
    color: red;
}